<h1>Discounts for <%= @merchant.name%></h1>
<p><%=link_to "Create Discount", "/merchant/#{@merchant.id}/bulk_discounts/new"%></p>

  <section id="bulk_discounts">
    <h2>Current Discounts</h2>
    <% @discounts.each do |discount| %>
    <p>Name: <%=discount.name%> | Percent: <%= discount.percent%> | Quantity Threshold: <%= discount.quantity_threshold%> <%=link_to "Discount #{discount.name}", "/merchant/#{@merchant.id}/bulk_discounts/#{discount.id}"%>|<%=link_to "Delete #{discount.name}",  "/merchant/#{@merchant.id}/bulk_discounts/#{discount.id}", method: :delete, local: true%></p>
    <% end %>
  </section>


  <section>
    <h2>Upcoming Holidays</h2>
    <% @national_holidays.each do |holiday|%>
    <p><%= holiday.name%> on <%= holiday.date %></p>
    <%end%>
  </section>
