<section>
  <p>Upcoming Holidays:</p>
  <ol>
    <% @holidays.each do |holiday| %>
      <li id="holiday-<%= holiday.name %>">
        <%= holiday.name %>, on <%= holiday.date %>
      </li>
    <% end %>
  </ol>
</section>

<ul>
  <% @discounts.each do |discount| %>
    <li id="discounted-item-<%= discount.id %>">
      <%= link_to "#{discount.id}", "/merchant/#{@merchant.id}/bulk_discounts/#{discount.id}" %> Percentage discount: <%= discount.percent_discount * 100 %>%, Quantity threshold: <%= discount.quantity_threshold %>
    </li>
  <% end %>
</ul>
