<h1>Create Discount</h1>

<%= form_with model: [@merchant, @discount], local: true do |f| %>
  <%= f.label :name%>
  <%= f.text_field :name, required: true%>

  <%= f.label :percent %>
  <%= f.number_field :percent, required: true %>

  <%= f.label :quantity_threshold%>
  <%= f.number_field :quantity_threshold, required: true %><br>

  <%= f.submit "Submit" %>
<% end %>
